@font-face {
	font-family: "cera";
	src: url("fonts/CeraPRO-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "cera";
	src: url("fonts/CeraPRO-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "cera";
	src: url("fonts/CeraPRO-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "lemonmilk";
	src: url("fonts/LemonMilk.otf") format("opentype");
	font-weight: bold;
	font-style: normal;
}

:root {
	--settings-padding-hor: 16px;
	--settings-padding-ver: 6px;
	--global-max-width: 640px;
	--estimated-cost-height: 58px;
	--primary-color: #3DC057;
	--accent-color: #90C74A;
	--gopay-color-primary: #40A4DB;
	--gopay-color-text: #5CA5DA;
	--todo-color-1a: #4E4E4E;
	--todo-color-1b: #8F8E94;
	--todo-color-1c: #030303;
	--todo-color-1d: #2CA94A;
	--sky-color: #a6cfcf;
	/*--divider-color: #e4e4e4;*/
	--divider-color: #e4e4e4;
}

* {
	/* font-family: Roboto; */
	font-family: cera;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #292929;
}

body, input, button, select, option {
	font-size: 16px;
}

h1 {
	text-align: center;
	font-family: "lemonmilk";
	letter-spacing: 2px;
	text-shadow: #e0e0e0 1px 1px 0px, #e0e0e0 2px 2px 0px, #e0e0e0 3px 3px 0px, #e0e0e0 4px 4px 0px, #e0e0e0 5px 5px 0px, #e0e0e0 6px 6px 0px, #e0e0e0 7px 7px 0px, #e0e0e0 8px 8px 0px, #e0e0e0 9px 9px 0px, #e0e0e0 10px 10px 0px;
	margin: 16px 0;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: url("background.svg") bottom center no-repeat #f1f1f1;
	background-size: contain;
}

.wrapper {
	width: var(--global-max-width) !important;
	margin: 0 auto;
}

.loader {
	background: url("loader.svg");
	display: inline-block;
}

.loader.size12 {
	width: 12px;
	height: 12px;
}

.loader.size18 {
	width: 18px;
	height: 18px;
}

.loader.size24 {
	width: 24px;
	height: 24px;
}

.loader.size36 {
	width: 36px;
	height: 36px;
}

.card {
	width: 100%;
	background: white;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	overflow: hidden;
}

.card:first-child {
	margin-top: 0;
}

.cardBG {
	height: 200px;
	background-position: center;
	background-size: cover;
	background-color: #f1f1f1;
}

.cardContent {
	padding: 20px;
}

.cardContent .primary {
	font-weight: bold;
}

#goFoodSearchList .card, #cuisines .card, #shortcuts .card, .clickable {
	cursor: pointer;
}

.textSeparator {
	background: #f1f1f1;
	padding: 4px var(--settings-padding-hor);
	font-weight: bold;
	color: #757575;
}

.settingsBox {
	padding: var(--settings-padding-ver) var(--settings-padding-hor);
	background-color: white;
	border-bottom: 1px solid var(--divider-color);
}

.settingsBox:last-child {
	border-bottom: initial;
}

.flexCenter {
	display: flex;
	align-items: center;
}

.flexCenter > .flexGrow {
	flex: 1;
}

.shadow-1, .card, button, .actionBar {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.loginForm, .updateProfileForm, .verifyForm {
	width: 50%;
	margin: auto;
}

.loginForm > input, .loginForm > button, .loginForm > label {
	width: 100%;
	margin: 0 auto 20px;
	display: block;
}

.loginForm > .loader {
	margin: 0 auto 20px;
	display: block;
}

.updateProfileForm > input, .updateProfileForm > button, .verifyForm > input, .verifyForm > button {
	width: 100%;
	margin: 0 auto 20px;
	display: block;
}

.updateProfileForm > div, .verifyForm > div {
	width: 100%;
	margin: 0 auto 20px;
}

.updateProfileForm > .loader, .verifyForm > .loader {
	margin: 0 auto 20px;
	display: block;
}

#loginError {
	margin-bottom: 20px;
	color: red;
	text-align: center;
}

#destName, #goRideFromName, #goRideToName, #bookingFrom > .flexGrow > .name, #bookingTo > .flexGrow > .name, #homeCustomerName, .voucherUpper, .voucherTitle, .foodItem .price, #goPointsPlayPointsBalance {
	font-weight: bold;
}

#bookingFrom > .flexGrow, #bookingTo > .flexGrow {
	padding-left: 8px;
}

#bookingFrom > .cRight, #bookingTo > .cRight {
	flex: 0 0 32px;
	height: 32px;
}

#bookingFrom > .cRight {
	background: url(marker-origin.png);
	background-size: cover;
}

#bookingTo > .cRight {
	background: url(marker-destination.png);
	background-size: cover;
}

#goRideFrom input, #goRideTo input {
	width: 100%;
}

.foodItemBottomRow input[type=text] {
	width: 100%;
}

.threeColumn, .fourColumn {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: -6px;
}

.threeColumn > div {
	width: calc(33.33% - 4px);
	margin-bottom: 6px;
	margin-top: 0;
}

.fourColumn > div {
	width: calc(25% - 4px);
	margin-bottom: 6px;
	margin-top: 0;
}

.threeColumn div {
	text-align: center;
}

#cuisines .card {
	color: white;
	height: 85px;
	display: table;
}

#cuisines .card .cardContent {
	display: table-cell;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.36);
	text-shadow: 0px 1px 5px black;
	font-weight: 500;
}

#shortcuts .cardContent {
	font-weight: 500;
}

[data-name=foodMerchantDetails] {
	display: flex;
	flex-direction: column;
	overflow: none;
}

[data-name=foodMerchantDetails] .scrollingContent {
	flex: 1;
	overflow: auto;
}

.goFoodMenu {
	margin-bottom: var(--estimated-cost-height);
}

.estimatedCost {
	height: var(--estimated-cost-height);
	background: white;
	border-top: 4px solid #ffcdd2;
	position: fixed;
	bottom: 0;
}

.estimatedCost > div {
	width: var(--global-max-width);
	margin: 0 auto;
	padding: 8px var(--settings-padding-hor);
}

.estimatedCost > div > div:first-child {
	padding-right: 8px;
}

.vDivider {
	width: 1px;
	/*height: 100%;*/
	background: var(--divider-color);
	align-self: stretch;
}

.estimatedCost > div > div:last-child {
	padding-left: 8px;
}

.orderButton {
	background: var(--primary-color);
	color: white;
	width: 100%;
}

button {
	height: 36px;
	padding: 0 8px;
	background: #e0e0e0;
	border-radius: 0;
	transition: all .3s cubic-bezier(.25, .8, .25, 1);
	border: 0;
	/*margin-bottom: 6px;*/
}

button:disabled, .clickable.disabled {
	cursor: default;
	opacity: 0.5;
	box-shadow: none;
}

button.colored {
	background: var(--primary-color);
	color: white;
}

/*button.flat.colored {
	color: var(--accent-color);
}*/

.flat {
	background: none;
	box-shadow: none;
	color: var(--accent-color);
}

button, .tab {
	text-transform: uppercase;
	font-weight: 500;
}

.tab {
	flex: 1;
	text-align: center;
	height: 48px;
	/*margin-bottom: 4px;*/
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 0 16px;
	text-transform: initial;
	transition: color 250ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.tab.active {
	color: var(--accent-color);
}

.tabContainer {
	display: flex;
	position: relative;
}

.tabContainer.scrolling {
	overflow-x: auto;
	/*display: inline-block;*/
	width: 100%;
	white-space: nowrap;
}

.tabContentsContainer.scrollable {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
}

.tabContentsContainer.scrollable .tabContents {
	overflow: auto;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

.scrolling .tab {
	display: inline-flex;
	flex: initial;
}

.tabIndicator {
	position: absolute;
	height: 2px;
	background: var(--accent-color);
	bottom: 0;
	pointer-events: none;
}

.clickable, .tab {
	user-select: none;
}

.container.withFlex {
	overflow: hidden;
}

.container.withFlex .wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

span.redCircle {
	background: #F34844;
	font-size: 14px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
	color: white;
	text-align: center;
}

.actions {
	display: flex;
}

.actions button {
	flex: 1;
}

.bannerImage {
	background-size: cover;
}

#goFoodBanner .bannerImage {
	height: 330px;
}

#homeBanner .bannerImage {
	height: 204px;
}

.bannerControl {
	margin: 8px 0;
	text-align: center;
}

.bannerIndicator {
	display: inline-block;
	margin: 0 8px;
}

.reorderCard .imagePreview {
	width: 136px;
	height: 136px;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
	position: relative;
}

.cardBottom {
	background: #fafafa;
}

.bookingContainer {
	display: flex;
	flex-direction: column;
}

.bookingContainer #bookingMap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.bookingContainer > * {
	position: relative;
}

.bookingContainer > *:not(.actionBar):not(#bookingMap) {
	/*align-self: center;*/
	width: var(--global-max-width);
	margin: 8px auto;
}

.contentInner {
	flex: 1;
	pointer-events: none;
}

.contentBottomPortion {
	pointer-events: none;
}

.contentInner > *:not(.contentBottomPortion), .contentBottomPortion > * {
	pointer-events: auto;
}

.contentBottomPortion {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: flex-end;
}

.bookingStatusCard {
	max-height: 100%;
}

.bookingStatusCard .moreDetails.shown, .goRidePriceDetails {
	border-bottom: 1px solid var(--divider-color);
}

.bookingStatusCard .cardContent {
	border: 0;
}

.actionBar {
	min-height: 56px;
	background: rgba(33, 33, 33, 0.8);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	display: flex;
	align-items: center;
	z-index: 0;
}

.actionBar .title {
	font-family: lemonmilk;
	flex: 1;
	font-weight: 500;
	font-size: 20px;
	color: white;
	padding-left: 18px;
}

.actionBar button, .actionBar .iconCont {
	height: 56px;
	padding: 16px;
	border-radius: 0;
	background: none;
	box-shadow: none;
	color: white;
	outline: none !important;
}

.actionBar button:hover {
	background: rgba(204, 204, 204, 0.15);
}

.actionBar button:active {
	background: rgba(204, 204, 204, 0.25);
}

.listLoader, .loadMore {
	margin: 16px auto 0;
	display: block;
}

.serviceList {
	margin-top: 8px;
}

.cuisinesHeader {
	background: none;
	text-align: center;
}

.disclaimer {
	text-align: center;
	display: none;
}

#driverPhoto, #rateDriverPhoto {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center;
}

.driverPhotoWrapper {
	width: 64px;
	height: 64px;
	border-radius: 32px;
	margin-right: 16px;
	background-size: cover;
	background-image: url(driver-placeholder.png);
	position: relative;
}

#goPointsMainText {
	border-bottom: 1px solid #eaeaea;
}

.tabContainer[data-tabcontainername=GOPOINTS] {
	background: white;
}

.goPointsBalanceBox > div > .flexGrow {
	min-height: 46px;
	/*align-self: stretch;*/
}

.goPointsBalanceBox .pointsBalanceTitle {
	font-size: 14px;
	color: #8e8e8e;
}

.goPointsBalanceBox .goPointsBalance {
	font-size: 24px;
	font-weight: 500;
}

.voucherTitle {
	font-size: 18px;
}

.voucherSubtitle {
	font-weight: 500;
}

.pointsAmount {
	margin-top: 6px;
}

.pointsAmount .flexGrow:after {
	content: " pts";
}

.trophyIcon {
	background-image: url(ic_go_points_voucher_icon.svg);
	background-size: cover;
	width: 36px;
	height: 36px;
	margin-right: 12px;
}

.playIcon {
	background-image: url(ic_go_points_voucher_icon.svg);
	background-size: cover;
	width: 36px;
	height: 36px;
	margin-left: 12px;
	position: relative;
}

.playIcon > .redCircle {
	margin: 0;
	position: absolute;
	right: 0;
}

.voucherPointsIcon {
	background-image: url(ic_go_points_voucher_icon.svg);
	background-size: cover;
	width: 24px;
	height: 24px;
	margin-right: 6px;
}

.listEmpty {
	font-size: 18px;
	text-align: center;
	margin-top: 16px;
}

.reorderCard {
	color: #333;
}

.reorderCard .secondary {
	color: #777;
}

.reorderCard .primary {
	font-size: 18px;
}

.closedOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.closedOverlay > div {
	background: #D2142B;
	text-transform: uppercase;
	display: inline-block;
	color: white;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 6px;
	border-radius: 2px;
}

.foodImg {
	width: 64px;
	height: 64px;
	background-color: #f1f1f1;
	background-size: cover;
	background-position: center;
	margin-right: 12px;
}

.foodHero {
	height: 240px;
	background-position: center;
	background-size: cover;
	background-color: #f1f1f1;
	position: relative;
}

.foodHeroOverlay {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 16px;
	background: rgba(0, 0, 0, 0.36);
}

.foodHeroTitle {
	font-weight: bold;
	font-size: 18px;
	color: white;
	text-shadow: 0px 1px 5px black;
}

.quantity > * {
	display: inline-block;
}

.quantity button {
	min-width: 28px;
	height: 28px;
	box-shadow: none;
	background: none;
}

.quantity {
	border: 1px solid #9E9E9E;
	margin-left: 4px;
	border-radius: 2px;
}

.quantity #plus {
	border-left: 1px solid #9E9E9E;
}

.quantity #min {
	border-right: 1px solid #9E9E9E;
}

.qText {
	padding: 0 8px;
	text-align: center;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:not(a):focus {
	animation: focuser .25s;
	outline: 2px solid var(--accent-color);
	outline-offset: 0;
}

@keyframes focuser {
	from {
		outline-color: transparent;
		outline-offset: 4px;
		outline-width: 12px;
	}
	to {
		outline-color: var(--accent-color);
		outline-offset: 0;
		outline-width: 2px;
	}
}

.goPayTransaction {
	align-items: initial;
}

.goPayTransaction .desc {
	color: var(--todo-color-1a);
}

.goPayTransaction .time {
	color: var(--todo-color-1b);
}

.goPayTransaction .amou {
	color: var(--todo-color-1c);
}

.goPayTransaction .amou.credit {
	color: var(--todo-color-1d);
}

.goPayTransaction .amou.debit:before {
	content: "-";
}

.goPointsMainCont {
	width: 400px;
	height: 360px;
	margin: 0 auto;
	background-image: url(gopoints-overlay-b.png), url(gopoints-overlay-a.png), url(gopoints-ring.png);
	background-size: 320px, 350px, 300px;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.platter {
	background: url(gopoints-spinner.png) center center no-repeat;
	background-size: 216px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	font-weight: bold;
	justify-content: center;
	backface-visibility: hidden;
	cursor: default;
	user-select: none;
}

.platter.front {
	z-index: 2;
}

.platter .numPoints {
	font-size: 64px;
}

.platter .textPoints {
	font-size: 36px;
}

.platter .textPoints:after {
	content: "points";
}

.platter .textSwipe {
	font-size: 40px;
}

.platter .numPoints, .platter .textPoints {
	margin-top: -8px;
}

.foodItem > .upperContent {
	align-items: stretch;
}

.foodItem > .upperContent > .flexGrow, .foodItem > .upperContent > .cRight {
	display: flex;
	flex-direction: column;
}

.foodItem > .upperContent > .cRight {
	align-items: flex-end;
}

.foodItem .socialLike {
	flex: 1;
}

.foodItem > .lowerContent {
	margin-bottom: var(settings-padding-ver);
}

.foodItem > .lowerContent input {
	width: 100%;
}

.foodItem .price {
	flex: 1;
	display: flex;
	align-items: flex-end;
}

.serviceList img {
	width: 80px;
	flex: 1;
}

.serviceList .cardContent {
	display: flex;
	align-items: center;
	min-height: 126px;
}

h1.gojekLogo > img {
	width: 160px;
}

.backButton {
	align-self: flex-start;
}

.listEmpty img {
	width: 160px;
	margin-bottom: 8px;
}

.animation {
	background-color: var(--sky-color);
	flex: 1;
	height: 0;
}

.animation svg {
	object-fit: contain;
	height: 100%;
}

.bottomPortion {
	padding: 24px;
	text-align: center;
}

.bottomPortion {
	text-transform: uppercase;
	background: #212121;
	color: white;
}

.bottomPortion .title {
	font-size: 32px;
	margin-bottom: 24px;
	color: var(--primary-color);
}

.bottomPortion .subtitle {
	margin-bottom: 20px;
}

button.fab {
	border-radius: 50%;
	color: blue;
	background: white;
	width: 48px;
	height: 48px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

button.fab .material-icons {
	font-size: 28px;
}

#searchingDriverCancel {
	background: #424242;
	color: red;
}

.slot .slotItem {
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #cfcfcf;
}

.slot .slotItem.selected {
	background: #efa33e;
	border-color: #efa33e;
	color: white;
}

.rateInnerScreen {
	background: #F5F5F5;
	text-align: center;
	padding: 16px 12px;
	border: solid #eaeaea;
	border-width: 1px 0;
	color: #5a5a5a;
}

.rateSelectTitle {
	margin-bottom: 16px;
}

.rateWidgetContainer {
	text-align: center;
	padding: 16px 0;
}

.rateWidget {
	user-select: none;
	height: 44px;
}

.rateWidget button {
	background: none;
	box-shadow: none;
	padding: 0;
	height: 44px;
}

.rateWidget button:not(:last-child) {
	margin-right: 2px;
}

.rateWidget button span {
	font-size: 44px;
	-webkit-text-stroke: .5px #dadada;
    color: #e9e9e9;
}

.rateWidget[data-amount="1"] > button:nth-child(-n+1) > span {
	color: #eea13b;
	-webkit-text-stroke: 0;
}

.rateWidget[data-amount="2"] > button:nth-child(-n+2) > span {
	color: #eea13b;
	-webkit-text-stroke: 0;
}

.rateWidget[data-amount="3"] > button:nth-child(-n+3) > span {
	color: #eea13b;
	-webkit-text-stroke: 0;
}

.rateWidget[data-amount="4"] > button:nth-child(-n+4) > span {
	color: #eea13b;
	-webkit-text-stroke: 0;
}

.rateWidget[data-amount="5"] > button > span {
	color: #eea13b;
	-webkit-text-stroke: 0;
}

#bookingRateDesc {
	margin-bottom: 16px;
}

.rateUpper {
	padding: 0 16px;
	background: white;
	color: #5c5c5c;
}

.rateBookingInfo {
	border-bottom: 1px solid #e5e5e5;
	padding: 12px 0;
}

.rateDriverPhotoCont {
	width: 48px;
	height: 48px;
	position: relative;
	background: url(booking-rate-driver-placeholder.png) no-repeat;
	background-size: 100%;
	margin-right: 12px;
}

#bookingRateBookingTime {
	color: #979797;
}

.rateBookingInfoRight {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#bookingRateServiceName {
	font-size: 14px;
	color: #999;
}

#bookingRateDriverName {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 2px;
}

#bookingRatePaymentType {
	border-radius: 2px;
	color: white;
	min-width: 72px;
	text-align: center;
	padding: 2px 0;
	font-size: 14px;
}

#bookingRateTotalPrice {
	margin-bottom: 4px;
}

#bookingRatePaymentType.goPay {
	background-color: var(--gopay-color-text);
}

#bookingRatePaymentType.goPay:before {
	content: "GO-PAY";
}

#bookingRatePaymentType.cash {
	background-color: var(--todo-color-1d);
}

#bookingRatePaymentType.cash:before {
	content: "CASH";
}

#bookingRateSubmit {
	width: 100%;
}